form {
  margin: auto;
  width: 45%;
  height: auto;
  background-color: #f8f9fa;
  padding:4%;
  margin-bottom: 100px;

//   margin-top: 50px;

    h3{
        margin-bottom: 20px;
        color:deepskyblue;
        text-decoration: underline;
        
    }

    span{
        color: red;
        margin-left: 5px;
    }
}
